{% extends "layout.jinja2" %}
{% from 'macros.jinja2' import textrend %}

{% block content %}
<div class="content">
  <p>
    {{content}}
  </p>
  <a class="button button-primary" href="{{action_url}}">{{action_button_text|default('Yes')}}</a>
</div>
{% endblock content %}
