{% extends "layout.jinja2" %}
{% from 'macros.jinja2' import textrend %}

{% block content %}
<div class="content">
  {% if goto_url %}
  <a class="button button" href="{{goto_url}}">{{goto_button_text|default('Edit')}}</a>
  {% endif %}
  <table class="u-full-width">
    {% if header %}
    <thead>
      <tr>
        {% for h in header %}
        <th>{{textrend(h)}}
        </th>
        {% endfor %}
      </tr>
    </thead>
    {% endif %}
    <tbody>
      {% for l in data %}
      <tr>
        {% for i in l %}
        <td>
        {{ textrend(i) }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
