{% extends "layout.jinja2" %}

{% block content %}

{% for subtitle,links in routes.items() %}
<h4>{{subtitle}}</h4>
<ul>
  {% for l in links %}
  <li><a href="{{request.route_url(l.route)}}">{{l.title}}</a>
  {% endfor %}
</ul>
{% endfor %}
{% endblock content %}
