<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{title|default('IOCBIO WebDB')}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'> -->
  <link href="{{request.static_url('webdb:static/font/font.css')}}" rel="stylesheet" type="text/css">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{request.static_url('webdb:static/css/normalize.css')}}">
  <link rel="stylesheet" href="{{request.static_url('webdb:static/css/skeleton.css')}}">
  <link rel="stylesheet" href="{{request.static_url('webdb:static/css/skeleton_extra_webdb.css')}}">
  <link rel="stylesheet" href="{{request.static_url('webdb:static/css/this_site.css')}}">

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"></script>   -->
  <script src="{{request.static_url('webdb:static/js/jquery.min.js')}}"></script>
  <script src="{{request.static_url('webdb:static/js/jquery-ui.min.js')}}"></script>
  <script src="{{request.static_url('webdb:static/js/highlight.min.js')}}"></script>  
  
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.date.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.time.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/legacy.js"></script> -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.css" rel="stylesheet"/> -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.date.css" rel="stylesheet"/> -->
  <script src="{{request.static_url('webdb:static/js/picker.js')}}"></script>
  <script src="{{request.static_url('webdb:static/js/picker.date.js')}}"></script>
  <script src="{{request.static_url('webdb:static/js/picker.time.js')}}"></script>
  <script src="{{request.static_url('webdb:static/js/legacy.js')}}"></script>
  <link href="{{request.static_url('webdb:static/css/classic.css')}}" rel="stylesheet"/>
  <link href="{{request.static_url('webdb:static/css/classic.date.css')}}" rel="stylesheet"/>

  <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css"> -->
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script> -->
  <link rel="stylesheet" href="{{request.static_url('webdb:static/css/jquery.timepicker.min.css')}}">
  <script src="{{request.static_url('webdb:static/js/jquery.timepicker.min.js')}}"></script>
  
  <!-- <script src="{{request.static_url('webdb:static/js/jquery.script.js')}}"></script> -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script> -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css" /> -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.css" /> -->
  <script src="{{request.static_url('webdb:static/js/jquery.script.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('webdb:static/js/selectize.min.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{request.static_url('webdb:static/css/selectize.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{request.static_url('webdb:static/css/selectize.default.css')}}" />
  
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{request.static_url('webdb:static/images/favicon.png')}}">

</head>
<body>

  <!-- Primary Page Layout
       –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <section class="header">
      <div class="row">
        <!--div class="two column"><a href="{{request.route_url('home')}}">IOCBio WebDB</a></div-->
        <div class="ten columns">
          <h2>
            {% if request.authenticated_userid %}
            <a href="{{request.route_url('home')}}">&#127968;</a>
            &nbsp;&nbsp;
            {% endif %}
            {{ title }}
          </h2>
        </div>
        {% if request.authenticated_userid is not none %}
        <div class="two columns">{{ request.authenticated_userid }}<br><a href="{{request.route_url('logout')}}">Logout</a></div>
        {% endif %}
      </div>
    </section>

    {% for m in request.session.pop_flash() %}
    <p>{{ m }}</p>
    {% endfor %}
    
    {% block content %}
    <p>No content</p>
    {% endblock content %}
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
