{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  {% if back_to_list %}
  <a class="button button" href="{{back_to_list}}">Go back to list</a>&nbsp;&nbsp;&nbsp;&nbsp;
  {% endif %}
  <br><p></p>
  <form action="{{ edit_url }}" method="post">
    <input type="hidden" name="back_to_list" value="{{ back_to_list }}">
    <input type="hidden" name="data_original" value="{{ data_original }}">
    <input type="hidden" name="_search_" value="{{ _search_ }}">
    {% for d in data %}
    <div class="row">
      <div class="five columns">
        <label for="{{d.id}}">
          {{d.field.title}}
          {% if d.field.unit %}
          , {{d.field.unit}}
          {% endif %}
          {% if d.field.comment %}
          <br>
          <span style="font-weight:normal">
            {{d.field.comment}}
          </span>
          {% endif %}
        </label>
      </div>
      <div class="seven columns">
        {% if d.readonly %}
        <input class="u-full-width" name="{{d.id}}" value="{{d.text.text}}"
               {% for k,v in d.field.tags.items() %}
               {{k}} = "{{v}}"
               {% endfor %}
               readonly
               >
        {% elif d.textArea %}
        <textarea class="u-full-width" rows="10" name="{{d.id}}" value="{{d.text.text}}">{{d.text.text}}</textarea>
        {% elif d.trueFalse %}
        <input type="checkbox" name="{{d.id}}" value="T"
               {% if d.checked %}
               checked
               {% endif %}
               >
        {% elif d.dateTime %}
        <input class="datepicker" name="{{d.id}}_date" data-value="{{d.date}}">
        <input class="timepicker" name="{{d.id}}_time" value="{{d.time}}">
        {% elif d.dateOnly %}
        <input class="datepicker" name="{{d.id}}_date" data-value="{{d.date}}">
        {% elif d.selection %}
        <div class="sandbox">
          <select class="u-full-width" id="select-{{d.id}}" name="{{d.id}}">
            {% for s in d.selection %}
            <option value="{{s.value}}"
                    {% if s.value|string == d.text.text|string %}
                    selected
                    {% endif %}
                    >{{s.text}}
            </option>
            {% endfor %}
          </select>
        </div>
        <script class="show">
	  $('#select-{{d.id}}').selectize({
	  create: false
	  });
	</script>
        {% elif d.largeSelection %}
        <div class="sandbox">
          <select class="u-full-width" id="select-{{d.id}}" name="{{d.id}}">
            <option selected value="{{d.text.text}}">
              {% if d.largeSelectionText %}
              {{d.largeSelectionText}}
              {% endif %}
            </option>
          </select>
        </div>
        <script class="show">
	  $('#select-{{d.id}}').selectize({
          valueField: 'value',
	  labelField: 'text',
	  searchField: 'text',
	  create: false,
          render: {
  	    option: function(item, escape) {
	         return '<div>' + escape(item.text) + '</div>';
	     }
	  },
	  load: function(query, callback) {
	    if (!query.length) return callback();
	    $.ajax({
	       url: '{{request.current_route_url(_query={"field":d.id})}}&query=' + encodeURIComponent(query),
	       type: 'GET',
	       error: function() {
	          callback();
	       },
   	       success: function(res) {
	           callback(res);
	       }
	     });
	  }
          });
	</script>
        {% else %}
        <input class="u-full-width" name="{{d.id}}" value="{{d.text.text}}"
               {% for k,v in d.field.tags.items() %}
               {{k}} = "{{v}}"
               {% endfor %}
               {% if d.readonly %}
               readonly
               {% endif %}
               >
        {% endif %}
        {% if d.default %}
        <br>
        <small>
          Default: {{d.default}}
        </small>
        {% endif %}
      </div>
    </div>
    <br>
    {% endfor %}
    <div class="form-group">
      <button type="submit" name="item.form.submitted" value="Save" class="button-primary">
       {{ save_button_text|default('Save') }}
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;<button type="reset" class="button">Reset</button>
    </div>
  </form>
</div>
{% endblock content %}
