{% extends "layout.jinja2" %}
{% from 'macros.jinja2' import textrend %}

{% block content %}
<div class="content">
  {% if back_to_list %}
  <a class="button button" href="{{back_to_list}}">Go back to list</a>
  {% endif %}
  {% if edit_url %}
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a class="button button-primary" href="{{edit_url}}">{{edit_button_text|default('Edit')}}</a>
  {% endif %}
  {% if remove_url %}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="button button-remove" href="{{remove_url}}" onclick="return confirm('Do you want to REMOVE this record?')">Remove</a>
  {% endif %}
  {% if add_url %}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="button button-primary" href="{{add_url}}">Add</a>
  {% endif %}
  <br><p></p>
  <table class="u-full-width">
    <tbody>
      {% for d in data %}
      <tr>
        <th>
          {{d.field.title}}
          {% if d.field.comment %}
          <br>
          <span style="font-weight:normal">
            {{d.field.comment}}
          </span>
          {% endif %}
        </th>
        <td>
          {{ textrend(d.text) }}
          {% if d.field.unit %}
          &nbsp; {{d.field.unit}}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>    
  </table>

  {% if descendants %}
  <p>
    {% for d in descendants %}
    <a class="button" href="{{d.url}}">{{d.text}}</a> &nbsp;&nbsp;
    {% endfor %}
  </p>
  {% endif %}
</div>
{% endblock content %}
