/* Extra CSS for this site */

.tag-small {
  display: inline-block;
  padding: 0px 10px;
  margin: 2px;
  color: #555;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #bbb;
  background-color: #FFF;
  cursor: pointer;
  box-sizing: border-box; }
.tag-small:hover,
.tag-small:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
